Questions 1:
How to import pandas and check the version?

In [4]:
#importing pandas
import pandas as pd
#version of panda 
print ("Version :" ,pd.__version__)

Version : 1.0.3

Questions 2:
How to create a series from a numpy array?

In [7]:
#importing pandas and numpy 
import pandas as pd
import numpy as np
#creating a numpy array 
arr = np.array (['a','b','c'])
#creating series
s= pd.Series(arr)
print (s)

0    a
1    b
2    c
dtype: object

Questions 3:
How to convert the index of a series into a column of a dataframe?

In [21]:
import pandas as pd
#creating dataframes from index
data = {'Product': ['Computer','Printer','Monitor','Desk','Phone'],
          'Price': [1200,250,400,700,350]
        }
df = pd.DataFrame(data, columns = ['Product','Price'])
                 
print(df)

    Product  Price
0  Computer   1200
1   Printer    250
2   Monitor    400
3      Desk    700
4     Phone    350

Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset.

In [7]:
#Importing seaborn
import seaborn as sb
print ("List Of Datasets In Seaborn")
sb.get_dataset_names()

List Of Datasets In Seaborn

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [10]:
#Loading 'mpg' dataset
data = sb.load_dataset('mpg')
#confirming that its loaded
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

Questions 5:
Which country origin cars are a part of this dataset?

In [25]:
import seaborn as sd 
data = sd.load_dataset('mpg')
#getting the origin of cars by country
data['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'.

In [1]:
import seaborn as sd
data = sd.load_dataset('mpg')
#extracting the parts that contains usa
data[(data['origin']=='usa')]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10